node_modules
.svelte-kit
build
.git
.github
.vscode
.env
.env.*
!.env.example
android
ios
*.md
.prettierrc
.prettierignore
eslint.config.js
tsconfig.json
vite.config.ts
playwright.config.ts
vitest.config.ts
